body {
    color:rgb(68, 0, 255);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: row;  
}
.content-wrapper > section {
    flex: 1;
}

.content-wrapper aside {
    width: 200px;
}
    
.banner {
    height: 100px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}   